@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html body {
  scroll-behavior: smooth;
  background-color: #151524;
  overflow-x : hidden;
}

.gradient-text {
  background: linear-gradient(270deg, #ff6ec4, #7873f5, #36bfe2);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 8s ease infinite;
 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

:root {
  --tech-stack-box-first-color: #1b1b28;
  --tech-stack-box-second-color: #2c2c3a;
  --tech-stack-box-border-color: rgba(255, 255, 255, 0.1);
}